#header{
    margin-bottom: 10px;
    background-color: lightgray;
    height: 180px; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 20px;  
}
.content{
    font-size: 20px;
    border-bottom: 1px solid ;
    text-decoration: none;
}
.content a{
    text-decoration: none;
}
#all{
    display: grid;
    grid-template-columns:20% 60% 20%;
    margin-bottom: 50px;
    grid-gap: 20px;
    border: 0px;
}
.contentright{
    background-color: aqua;
}
#end{
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    background-color: lightgray;
    height: 40px;
    font-size: 20px;
   
}

@media screen and (max-width:800px) {
    h1 {
        font-size: 12px;
    }
}
    
 


    